<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="vi">
		<meta name="Abstract" content="Thông tin về Gia Phả Phạm Phú" />
		<meta name="description" content="Gia Phả Phạm Phú - một trang mạng cung cấp thông tin về gia phả tộc Phạm Phú (Phái nhất của tộc Phạm)" />
		<meta name="author" content="Phạm Quang Mẫn" />
		<meta name="keywords" content="gia pha, gia phả, gia pha pham phu, gia phả phạm phú, pham phu, phạm phú" />
		<meta name="Language" content="Việt Nam">
		<meta name="Designer" content="E.O Team">
		<meta property="og:title" content="Gia Phả Phạm Phú" />
		<meta property="og:type" content="Information Website" />
		<meta property="og:description" content="Trang mạng cung cấp thông tin, phả đồ về gia phả họ Phạm Phú" />
		<meta property="og:image" content="http://giaphaphamphu.com/style/images/logo.png" />
		<meta property="og:url" content="http://giaphaphamphu.com/" />
		<title>Gia Phả Phạm Phú</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.navbar-brand {
				padding:0;
				text-align:center;
				vertical-align:middle;
				width: 180px;
				height: 80px;
			}
			#logo-frame {
				height: 80px;
				width: 150px;
				position: relative;
				margin: auto;
			}
			#logo {
				position: absolute;
				height: 200%;
				top:-40px;
				left: -67px;
			}
			.navbar-default {
				border-color: orange;
			}
			.navButtons{
				transition: background-color 0.6s;
				-webkit-transition: background-color 0.6s;
			}
			.navButtons:hover{
				background-color: #d4a972;
			}
			.navbar-nav .navButtons,.navbar-nav .active {
				font-size: 1.5em;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default" >
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand"><div id="logo-frame">
								<img id="logo" src="/style/images/logo.png" />
							</div></a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}class="navButtons"{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li class="navButtons"><a href="/keystone/signout">Đăng Xuất</a></li>
								{{else}}
								<li class="navButtons"><a href="/keystone/signin">Đăng Nhập</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div id="body">
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info fade in">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success fade in">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning fade in">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger fade in">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}


			<!-- The content block should contain the body of your template's content-->
			{{{body}}}


		</div>

		<footer class="container-fluid" style="padding-top:10px;z-index:5;">
	        <address>
	    <em>
	      Made By E.O TEAM
	    </em>
	    <br  />
	    <a href="mailto:quangman1404@gmail.com"><strong>Email: </strong>quangman1404@gmail.com</a>
	    </address>
	        <img src="/style/images/contact.jpg" usemap="#eachContact" />
	        <map name="eachContact">
	      <area shape="rect" coords="0,0,34,37" href="https://www.facebook.com/" />
	      <area shape="rect" coords="37,0,74,37" href="mailto:quangman1404@gmail.com"  />
	      <area shape="rect" coords="78,0,115,37" href="https://twitter.com/?lang=vi"  />
	    </map>
	    </footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
