<div class="container">
	<h1>Liên Hệ Chúng Tôi</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Xin cảm ơn, chúng tôi sẽ tiếp nhận ý kiến của bạn.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Họ và Tên</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Số Điện Thoại</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Lời Nhắn:</label>
					<textarea name="message" placeholder="Lời Nhắn Của Bạn" rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" style="background-color: rgb(245,212,159); color:black">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
<style type="text/css">
  .subCB {
    background-color: rgb(245,212,159);
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 6px;
  }
</style>
