<div class="container">
	<h1>Liên Hệ Chúng Tôi</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Xin cảm ơn, chúng tôi sẽ tiếp nhận ý kiến của bạn.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Họ và Tên</label>
					<input type="text" name="name.full" placeholder="(Bắt buộc)"  class="form-control" value="{{formData.[name.full]}}" autofocus required>
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" placeholder="(Bắt buộc)" class="form-control" value="{{formData.email}}" required>
				</div>
				<div class="form-group">
					<label>Số Điện Thoại</label>
					<input type="text" name="phone" placeholder="(Tùy ý)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>Bạn muốn liên lạc với chúng tôi về điều ?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(Tùy ý)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Lời Nhắn:</label>
					<textarea name="message" placeholder="Lời Nhắn Của Bạn" rows="4" class="form-control" required>{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" style="background-color: rgb(245,212,159); color:black">Gửi phản hồi</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
<style type="text/css">
body::after {
	content: "";
	background: url("/style/images/contactbg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.15;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
  .subCB {
    background-color: rgb(245,212,159);
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 6px;
  }
	.form-group > textarea {
		min-width: 100%;
		min-height: 2.5em;
		max-height: 400px;
		max-width: 200%;
		overflow: auto;
	}
</style>
