<style type="text/css">
	.gallery-image {
		width: 100%;
		margin: 10px;
		cursor: pointer;
	}
	body::after {
		content: "";
		background: url("/style/images/contactbg.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-attachment: fixed;
		opacity: 0.1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}

</style>

<div class="container">
	<h1>Thư viện ảnh</h1>
</div>
<div class="container">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
		<h2>{{name}}
			<div class="pull-right text-muted">Thời gian</div>
		</h2>
		<div class="row">
				{{#if heroImage}}
					<a href="{{cloudinaryUrl heroImage}}"><img src="{{cloudinaryUrl heroImage}}" class="img-rounded gallery-image" alt="Ảnh"/></a>
				{{/if}}
		</div>
					<div class="row">
						{{#each images}}
						<div class="col-xs-6 col-md-3">
							<a href="{{cloudinaryUrl}}"><img src="{{cloudinaryUrl}}" class="img-rounded gallery-image" alt="Ảnh"/></a>
						</div>
						{{/each}}
					</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">Chưa có thư viện ảnh.</h3>
	{{/if}}
</div>
