
<style type="text/css">
    body::after {
        content: "";
        background: url("/style/images/phadobg.png");
        background-repeat: no-repeat;
        background-size: 150% 120%;
        background-attachment: fixed;
        background-position: center;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .personCard {
        min-height: 188px;
    }

    @media (max-width:600px) {
        .personCard {
            min-height: 206.8px;
            display: inline-block;
        }
    }
</style>

{{>search-filter}}

<div class='container'>
    <div class="row">
        {{# each data}}
            <div class='col-sm-2 col-xs-3 col-lg-2 col-md-2 personCard'>
                <h4><a href="{{personUrl slug}}" style="font-weight:bold;">{{fullName}}</a></h4>
                        <h4>{{a}}</h4>
                        {{# if image}}
                            <a href="{{personUrl slug}}">
                    <img src="{{{cloudinaryUrl image width="60" height="80" }}}" class="thumbnail" /></a>
                            {{else}}<img src="/style/images/phadobg.png" />
                                {{/if}}
            </div>
            {{/each}}
    </div>
