
<script>
    function change_alias(alias) {
    var str = alias;
    str = str.toLowerCase();
    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");
    str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i");
    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");
    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");
    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");
    str = str.replace(/đ/g,"d");
    str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
    str = str.replace(/ + /g," ");
    str = str.trim();
    return str;
    }

    function slugify(queryString){
        for (var i = 0; i < queryString.length; i++) {
            if (queryString[i] == ' '){
                queryString[i].replace('-');
            }
        }
    }

    function person(){
        var q=document.getElementById('inputField').value
        q=change_alias(q);
        q=q.replace(/ /g,"-");
        var redirect = "/search/" + q;
        window.location.replace(redirect);
        return false;
    }

</script>

<style type="text/css">
  .personCard {
      min-height: 188px;
  }
  @media (max-width:600px) {
    .personCard {
      min-height: 206.8px;
      display: inline-block;
    }
  }
</style>
<div class='container'>
    <div class="form-group">
        <label>Name</label>
        <form class="search-form" onsubmit="return person()">
            <input id="inputField" class="form-control" type="text" placeholder="Tìm kiếm thành viên">
            <button type="submit" class="btn btn-primary" style="background-color: rgb(245,212,159); color:black">Gửi</button>
        </form>
    </div>
</div>

<div class='container'>
    <div class="row" style="background-color:#f5d49f;margin:auto;border-radius:10px;">
        {{# each people}}
            <div class='col-sm-2 col-xs-3 col-lg-2 col-md-2 personCard'>
                <h4><a href="{{personUrl slug}}" style="font-weight:bold;">{{fullName}}</a></h4>
                <h4>{{a}}</h4>
                {{# if image}}
                    <a href="{{personUrl slug}}">
                    <img src="{{{cloudinaryUrl image width="60" height="80" }}}" class="thumbnail" /></a>
                {{else}}<img src="/public/images/anonimo" />
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
