<div class='container'>
    {{# each people}}
        <div class='col-md-2 col-lg-2'>
            <h4><a href="{{personUrl slug}}">{{fullName}} {{@key}}</a></h4>
            <h4>{{a}}</h4>
            {{# if image}}
                <img src="{{{cloudinaryUrl image width="60" height="80" }}}" class="thumbnail" />
            {{else}}<img src="/public/images/anonimo" />
            {{/if}}

        </div>
    {{/each}}

    <h1>{{data}}</h1>
</div>
